env:
  global:
    - CC_TEST_REPORTER_ID=166299c39857f809bab5e3cd609e6f5b9500733a414a9e24ed5201af155bbfcc
language: java
jdk:
  - openjdk8
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - mvn cobertura:cobertura test -B -Dcobertura.report.format=xml
after_script:
  - ./cc-test-reporter format-coverage ./target/site/cobertura/coverage.xml -t cobertura
  - ./cc-test-reporter upload-coverage -r $CC_TEST_REPORTER_ID
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - bash <(curl -s https://codecov.io/bash)