#[[# Add to your project

## MVN users

Add the dependency to your project:

```xml
<dependency>
   <groupId>cat.albirar.lib</groupId>
   <artifactId>albirar-template-engine</artifactId>
   <version>]]#${project.version}#[[</version>
</dependency>
```

## Gradle users

```gradle
implementation 'cat.albirar.lib:albirar-template-engine:]]#${project.version}#[[']]#